.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(28, 140, 245);
    padding: 20px; 
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 32%; 
    text-align: center; 
    height: 35%;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}

#edit-branch-form input[type="text"],
#edit-branch-form input[type="number"] {
    display: inline-block; 
    margin: 10px; 
}
#add-new-branch-form {
    text-align: center;
}

#add-new-branch-form label {
    font-size: 15px;
    color: black;
    margin-right: 100px;
    text-align: right;
    width: 120px; 
}

#new-branch-name, #new-total-sold-cars {
    width: 200px; 
    padding: 5px;
    margin: 10px 0;
    border: 1px solid rgb(20, 0, 241);
    border-radius: 2px;
}

#add-new-branch-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    margin-top: 40px;
}

#add-new-branch-button:hover {
    background-color: #0056b3;
}

.action-button {
    background-color: #0074d9;
    color: white;
    padding: 5px 10px;
    border: blue;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
}

.delete-button {
    background-color: #0074d9;
}

.action-button:hover{
    background-color: #0056b3;
}
.delete-button:hover {
    background-color: red;
}
